{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Zero Enterprises</title>

    <style>
        
    </style>

    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>




</head>
<body>

{% include 'app/head.html' %}




<section style="background-color: rgb(222, 240, 246);" >
<hr>
    <div style="text-align: center;">
        <h1>About One Zero Enterprises</h1>

    </div>
    <hr>
    
    <div style="margin: 5%; text-align: center; padding-bottom: 5%;" >

        <h4>Welcome to the mineral world of One Zero Enterprises Based in Udaipur, Rajasthan (India) pioneer in the field of micronized mineral processing and supply.</h4>
        
        <br>
        <hr>
        <h5>We are One Zero Enterprises , the pioneers in the field of Industrial Minerals in India, bringing the organized concept of Micronization and tapping various different Industrial Micronized and Sub-Micronized Minerals under its portfolio. Since few years back, One Zero Enterprises also delved into the world of Specialty Minerals, Chemicals and Performance Additives catering to the niche segments and formulations made through advanced and superior technology to serve our existing and new customer base for diverse applications.
            With a devoted R&D and Product Application Centre, we are committed to continuously innovate and offer a variety of products catering to numerous applications and formulations enhancing the product performances and delivering high value added functional solutions to various industries.</h5>
            <hr>


        <div>

            <div>
                <h2>Our Mission</h2>
                <h4>The Big Hairy Audacious Goal of One Zero Enterprises is to be a Multi-National Environmentally Conscious Corporation </h4>
                <br>
                <hr>
        

            </div>

            <div>
                <h2>Our Vision</h2>
                <h4>The core purpose of the One Zero Enterprises is to use business growth as a means to contribute to the society by improving the lives of all the people that it touches, thereby enhancing the One Zero Enterprises family legacy & values</h4>
            </div>



        </div>


    <hr><br>

    <h2>We take pride in offering quality products at an affordable price to our consumers. With over a decade of experience in the market one zero enterprises should certainly be your first choice. We guarantee you will not be disappointed!</h2>
    </div>

</section>

{% include 'app/footer.html' %}
    
</body>
</html>