
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Zero Enterprises</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<style>


</style>
</head>
<body>
<hr>

<div style="text-align: center;">
    
    <img class="firstimg" src="{% static 'images/mining.jpg' %}" alt="My image" style="height: 70%; width: 85%;"/>
    <hr>
    <h5 style="width: 95%; padding-left: 5%;" >We have a great pleasure in introducing One Zero Enterprises as a small scale unit involved in manufacturing of EXPORT QUALITY mineral powder of all types. Our unit was established in the year of 2023 at Udaipur, Rajasthan by founder Mr. Piyush Choudhary. We are one of the leading manufacturer and supplier of raw material of industries like Cosmetics, Plastic, Paper, Paints, Rubber, Pesticides and Fertilizers, Food Industries, Fire Fighting & many more.</h5>
    <div id="our" style="margin-left:70px; margin-right: 70px; margin-top: 50px; background: url('/static\app\stone.jpg');">
        <h1>OUR COMPANY</h1>

        <hr>
    <h3>In INDIA, Udaipur district tops in the mining of natural minerals and We "One Zero Enterprises" Established in the year 2023 at Udaipur, Rajasthan. We are a Sole Proprietorship bases firm, engaged as the foremost Supplier of Calcite, Dolomite , Talc Powder, China Clay and many more.</h3>

    <hr>
    <section class="slider" style="margin-left: 13rem;">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" >
            <div class="carousel-item active" data-interval="2000">
              <img src="{% static 'images/chemical.jpg' %}" class="d-block w-75 p-3 slideimg" alt="..." style="object-fit: cover;">
            </div>
            <div class="carousel-item" data-interval="2000">
              <img src="{% static 'images/pvc.jpg' %}" class="d-block w-75 p-3 slideimg" alt="..." style="object-fit: cover;">
            </div>
            <div class="carousel-item" data-interval="2000">
              <img src="{% static 'images/tiles.jpg' %}" class="d-block w-75 p-3 slideimg" alt="..." style="object-fit: cover;">
            </div>
          </div>
        </div>
      
      </section>
        
    <hr>

    <div class="one" style="display: flex; background-color: #d5e5ef;">
        <div style="margin: 15px;">
            <img class="imgcompany" src="{% static 'images/powder1.jpg' %}" alt="My image" style="height: 250px; width: 220px; margin: 10px; border-radius: 15px;"/>
        </div>
        
        <div style="margin: 15px; text-align: center;">
            <br>
        <h5>We have best quality raw and finished materials, which are used as a base and fillers in the industries like Cosmetics, Plastic, Paper, Paints, Rubber, Pesticides and Fertilizers, Food Industries, Fire Fighting etc.</h5>

    <h5>Our products are high in demand due to their premium quality and affordable prices. Further more, we ensure to timely deliver these products to our clients, through this we have gained a huge clients base in the market.
        
    </h5>
    <br>
    <div style="text-align: center;">
        <a id="buttontag" class="top" href="{% url 'about' %}">Know More 
            <svg width="24.812" height="7" viewBox="0 0 24.812 7">
                <g data-name="Group 3" transform="translate(0 0.46)">
                  <path data-name="Path 2" d="M698.4,664.237h23.243l-5.89-5.89" transform="translate(-698.398 -658.347)" fill="none" stroke="#fff" stroke-width="1.3"></path>
                </g>
              </svg> </a>
    </div>
</div>
</div>
</div>
</div>

<hr>
<br>
    
</body>
</html>