{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Zero Enterprises</title>
    <style>
        li{
            list-style-type: none;
        }
    </style>
</head>

<body>
    
  <h1 id="productpage" style="text-align: center; ">Our products</h1>
    <section>

      

        <div class="test">
        
            <div class="testing" style="background-color: white;  height: 14rem; width:30rem; display:flex;  ">
              <img src="{% static 'images/powder1.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
              <div style="width: 18rem;">
                <h3 class="h" >Dolomite</h3>
                <p class="h">Dolomite powder appears to form in many different types of environment and can have varying structural, textural and chemical characteristics.</p>
              </div>
            </div>
        
          <div class="testing d"style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <div>
              <img src="{% static 'images/calcium.jpg' %}" style="width: 9rem; object-fit: cover; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            </div>
            <div style="width: 18rem;">
              <h3 class="h"  >Calcium Carbonate</h3>
              <p class="h" >Calcite Powder is extensively utilized as a filler in the manufacturing of plastics owing to its low oil absorption, high dispersibility, smooth surface finish, high impact resistance, easy processing, unmatched dimensional stability, and its compatibility with other complex polymers and organic additives.</p>
            </div>
          </div>
        
          <div class="testing i" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/talc.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h" >Talc Powder</h3>
              <p class="h">Talc is a clay mineral composed of hydrated magnesium silicate. Talc in powdered form, often combined with corn starch, is used as baby powder. This mineral is used as a thickening agent and lubricant. It is an ingredient in ceramics, paints, and roofing material.</p>
            </div>
          </div>
        
          <div class="testing e" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/silica.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h">Silica</h3>
              <p class="h">Also known as silicon dioxide, every unit of white Silica Powder contains two oxygen and single silicon atoms. It is naturally present in quartz mineral. It is used as one of the key ingredients of glass and sand. This mineral is known for its excellent hardness level.</p>
            </div>
          </div>
        
          <div class="testing e" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/chinaclay.png' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h" >China Clay</h3>
              <p class="h">this clay based mineral is the layered form of silicate mineral. White China Clay Powder is free from odor. Excellent chemical resistance properties, crack prevention capacity, unique opacity level and ability to maintain smoothness of applied surface are its key features</p>
            </div>
          </div>
        
          <div class="testing f" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/redoxide.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h" >Red Oxide</h3>
              <p class="h">red iron oxide are the most common oxide colour and have the highest amount of iron. Due to their pure hue, consistent properties, and tinting strength, they have become increasingly important in various fields of applications. </p>
            </div>
          </div>
        
          <div class="testing i" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/kaolin.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h" >Kaolin Clay</h3>
              <p class="h">This white clay powder is rich in aluminum silicates and is a powerful oil and impurity absorbing ingredient. It is used as an active ingredient in numerous formulations like creams, shampoos, face scrubs, and styling hair wax by personal care and pharmaceutical industries.</p>
            </div>
          </div>
        
          <div class="testing f" style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/Pyrophyllite.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h" >Pyrophyllite</h3>
              <p class="h">Pyrophyllite is a phyllosilicate mineral composed of aluminium silicate hydroxide: Al2Si4O10(OH)2. It occurs in two forms (habits): crystalline folia and compact masses; distinct crystals are not known.</p>
            </div>
          </div>
        
          <div class="testing e " style="background-color: white; height: 14rem; width:30rem; display:flex;  ">
            <img src="{% static 'images/grains.jpg' %}"  style="width: 9rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div style="width: 18rem;">
              <h3 class="h">Coloured Grains</h3>
              <p class="h">The most prevalent and plentiful mineral on Earth is quartz. It is present in practically all geological settings and makes up at least a portion of almost all rock types. It is formed of trigonal crystalline silica. In terms of variety, colours, and forms, it is the most diversified.</p>
            </div>
          </div>
        
        </div>
        
        
        
        </section>
        



<hr>

</body>
</html>