{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Zero Enterprises</title>
    <style>
        li{
            font-size: large;
        }
    </style>
</head>
<body>
  




<section class="serve" >

<div>
<h2 style="text-align: center;">Industries We Serve</h2>
<h5 style="text-align: center; margin-left: 7%; margin-right: 7%; margin-bottom: 3%;">Our vast experience in mineral industry has allowed us to build capabilities and deliver excellent products to varied industries. We customize our product offerings keeping in mind every industry’s specific demand and needs.</h5>

<div class="industry" >

<div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue; padding-left: 21%; padding-top: 2%;">
<div class="box" style="background-color: white; height: 18rem; width:15rem; ">
  <img class="box-img" src="{% static 'images/paints.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
  <div class="box-ptag" style="width: 15rem;">
    <h5>Paints & Coating</h5>
    <p>Architectural, Industrial, Road marking, Inks and Powder Coating.</p>
  </div>
</div>
</div>

<div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
  <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
    <img class="box-img" src="{% static 'images/pvc.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
    <div class="box-ptag" style="width: 15rem;">
      <h5>PVC</h5>
      <p class="b" style="width: 14rem;">PVC Pipes, Foamboard, WPC, Artificial Leather, Flex Vinyl </p>
    </div>
  </div>
  </div>

  <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
    <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
      <img class="box-img" src="{% static 'images/Masterbatches.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
      <div class="box-ptag" style="width: 15rem;">
        <h5>Masterbatches</h5>
        <p class="b">White and Colour Masterbatches, Fillers, PVC Compounds</p>
      </div>
    </div>
    </div>

    <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%; ">
      <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
        <img class="box-img" src="{% static 'images/rubber.jpeg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
        <div class="box-ptag" style="width: 15rem;">
          <h5>Rubber</h5>
          <p>Various application of Rubber</p>
        </div>
      </div>
      </div>

      <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%; ">
        <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
          <img class="box-img" src="{% static 'images/adhesive.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
          <div class="box-ptag" style="width: 15rem;">
            <h5>Adhesive-sealants</h5>
            <p>Silicone, Hybrid, PU, Polysulfide</p>
            
          </div>
        </div>
        </div>

        <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
          <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
            <img class="box-img" src="{% static 'images/chemical.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
            <div class="box-ptag" style="width: 15rem;">
              <h5 class="a">Contruction Chemical</h5>
              <p class="b">Self-compacting Concrete, Asphalt</p>
              
            </div>
          </div>
          </div>

          <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
            <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
              <img class="box-img" src="{% static 'images/paper.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
              <div class="box-ptag" style="width: 15rem;">
                <h5>Paper & Board</h5>
                <p class="c" >Duplex Board, Writing & Printing</p>
                
              </div>
            </div>
            </div>

            <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
              <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
                <img class="box-img" src="{% static 'images/tiles.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
                <div class="box-ptag" style="width: 15rem;">
                  <h5>Ceramic</h5>
                  <p>Tiles, Tableware, Sanitaryware</p>
                </div>
              </div>
              </div>

              <div class="ek" style="margin-left: 10%; margin-right: 10%; background-color: aliceblue;padding-left: 21%; padding-top: 2%;">
                <div class="box" style="background-color: white; height: 18rem; width:15rem;  ">
                  <img class="box-img" src="{% static 'images/Pesticides.jpg' %}"  style="width: 14rem; height: 11rem; border: 1px solid rgb(199, 195, 195);border-top-left-radius: 10px;border-bottom-left-radius: 10px;" />
                  <div class="box-ptag" style="width: 15rem;">
                    <h5>Pesticides</h5>
                    <p>Crop protection</p>
                  </div>
                </div>
                </div>


</div>

  </section>




</body>
</html>